---
apiVersion: v1
kind: Service
metadata:
  name: fileflows
  namespace: media
  labels:
    app: fileflows
spec:
  type: ClusterIP
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
      name: web
  selector:
    app: fileflows
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fileflows
  namespace: media
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
    - host: fileflows.brzrkr.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: fileflows
                port:
                  number: 5000
