---
# CrowdSec needs to read pod logs across namespaces
apiVersion: v1
kind: ServiceAccount
metadata:
  name: crowdsec
  namespace: security
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: crowdsec
rules:
  - apiGroups: [""]
    resources:
      - pods
      - pods/log
      - namespaces
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: crowdsec
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: crowdsec
subjects:
  - kind: ServiceAccount
    name: crowdsec
    namespace: security
