---
apiVersion: v1
kind: Service
metadata:
  name: tdarr
  namespace: media
  labels:
    app: tdarr
spec:
  type: ClusterIP
  ports:
    - port: 8265
      targetPort: 8265
      protocol: TCP
      name: web
    - port: 8266
      targetPort: 8266
      protocol: TCP
      name: server
  selector:
    app: tdarr
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tdarr
  namespace: media
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
    - host: tdarr.brzrkr.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: tdarr
                port:
                  number: 8265
